h1, h2, h3{
	margin: 0;
	text-decoration: none;
	border-bottom: none;
	font-family: "Arial Narrow", Arial, sans-serif;
	auto_ids: false;
}

h1 {
	color: #1155cc;
    font-size: 24;
    text-align: center;
}

h2 {
	color: #1155cc;
    font-size: 18;
}

h3 {
    color: black;
    font-size: 14;
}

body {
    color: black;
    margin:0;
    font-size: 11;
	font-family: Arial, sans-serif;
}
